


.mainContainer {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    width: 100vw;
    min-height: 100vh;
    background-color: rgb(37, 37, 37);
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    letter-spacing: 1px;
}

.item {
    width: 10vw;
    border: 2px solid gray;
    height: 200px;
    min-width: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 20px;
    background-color: rgb(66, 66, 66);
    border-radius: 10px;

}

